/* SMARTPHONES */

@media(max-width: 450px){

    h1{
        font-size: 30px;
        width: 260px;
        height: 120px;
    }

    main{
        gap: 120px;
    }

    .logo{
        width: 250px;
    }

    .generation-buttons{
        gap: 10px;
        width: 50px;
    }

    .generation-buttons button {
        padding: 2px;
        font-size: 0.8rem;
    }

    .pokeball_image{
        width: 40px;
    }

    .pokedex {
        grid-template-columns: repeat(2, 45%);
    }

    .pokemon-name {
        font-size: 1rem;
    }

    /* Estilos do card ampliado */

  .pokemon-details{
    max-width: 300px;
    height: auto;
  }

  .pokemon-details h2{
    font-size: 2rem;
  }
}

/* TABLET 1 */

@media (min-width: 450px) and (max-width: 750px) {

    h1{
        font-size: 34px;
        width: 320px;
    }

    main{
        gap: 120px;
    }

    .logo{
        width: 400px;
    }

    .generation-buttons{
        gap: 20px;
        width: 50px;
    }

    .generation-buttons button {
        padding: 2px;
        font-size: 0.8rem;
    }

    .pokeball_image{
        width: 70px;
    }

    .pokedex {
        grid-template-columns: repeat(3, 1fr);
    }

    .pokemon-name {
        font-size: 1.2rem;
    }

    .pokemon-details{
        height: auto;
    }
}

/* TABLET 2 */

@media (min-width: 750px) and (max-width: 1200px) {

    main{
        gap: 100px;
    }

    .logo{
        width: 500px;
    }

    .pokeball_image{
        width: 90px;
    }

    .pokedex {
        grid-template-columns: repeat(4, 1fr);
    }

    .pokemon-details{
        height: auto;
    }
}